# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List Popular Languages for Data Science
* List commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java
6. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit learn
4. Matploitlib
5. Seaborn
6. TensorFlow
7. Keras
8. PyTorch
9. NLTK
10.Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

a = 10

b = 5

print(a + b)  # Addition: 15


print(a - b)  # Subtraction: 5


print(a * b)  # Multiplication: 50


print(a / b)  # Division: 2.0


print(a // b) # Floor Division: 2


print(a % b)  # Modulus: 0


print(a ** b) # Exponentiation: 100000

In [13]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Vijeta Singh